.container {
  padding-top: 10px;
}

p {
  margin: 0;
}

button {
  border: none;
}

.add-button {
  margin-left: 10px;
  background-color: #6bccff;
}

.delete-button {
  background-color: #ff8a71;
}

.edit-button {
  background-color: #ffdf50;
}

.edit-complete-button {
  background-color: #afdb40;
}
