* {
  margin: 0px;
}
body {
  background-color:  rgb(35,35,35);
  margin: 0px;
}

.app-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.movie-container {
  width:150px;
  margin: 10px;
} 
.movie-container img{
  width:100%;
  background: rgb(0, 0, 0,0.5);
   opacity: 1; 
  transition: opacity 0.2s;
}

.movie-container:hover .a{
  opacity:0.5;
  background: rgb(0, 0, 0,0.5);
}